.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header_left {
  justify-content: space-evenly;
}
.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.header_left > img {
  height: 40px;
}
.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_info > h4 {
  margin-left: 10px;
  font-size: 20px;
}
.facebook_logo {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  color: gray;
}
.alert-danger-login {
  padding: 10px;
  border-radius: 0.2em;
  max-width: 30%;
  min-width: 25%;
  text-align: center;
}
